html
  head
    title Главная страница
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="index.css")
  body
    .container
      .transporent-header
      include ./components/header.pug
      include ./components/main.pug  
      include ./components/aboutCompany.pug
      include ./components/footer.pug
      
