.header
    .logo   
        img.logo1(src="../img/logo1.svg" alt="logo")
        img.logo2(src="../img/logo2.svg" alt="Service AUTO")
    ul.navigation-footer
        li: a(href="#").class-link.border Главная
        li: a(href="#").class-link.border Услуги
        li: a(href="#").class-link.border Цены
        li: a(href="#").class-link Контакты
    .address Адрес: г. Вологда, <br> ул. Говоровский проезд, <br> дом, 4/3

    .contacts-footer
        .number-first 
            img(src="../img/phone.svg" alt="Номер телефона")
            a.number(href="tel:+78172580708") +7 8172 58 07 08
        .number-second 
            img(src="../img/phone.svg" alt="Номер телефона")
            a.number(href="tel:+79216803048") +7 921 680 30 48   
        .email      
            img.email-logo(src="../img/email.svg" alt="email")
            a(href="mailto:etalcom@mail.ru") etalcom@mail.ru
    .burger-footer
        span.burger-span-footer

