.header
    .logo   
        img.logo1(src="../img/logo1.svg", alt="logo")
        img.logo2(src="../img/logo2.svg", alt="Service AUTO")
    .around-clock
        img(src="../img/time24.svg", alt="Круглосуточно")
        p Эвакуатор <br> Вологда
    ul.navigation 
        li: a(href="#").class-link.border Главная
        li: a(href="#").class-link.border Услуги
        li: a(href="#").class-link.border Цены
        li: a(href="#").class-link Контакты
    .contacts
        .number-first 
            img(src="../img/phone.svg", alt="Номер телефона")
            span.number +7 8172 58 07 08
            //- a(href=tel: 88005553535>)
        .number-second 
            img(src="../img/phone.svg", alt="Номер телефона")
            span.number +7 921 680 30 48 
            //- a(href=”tel: 88005553535″>)  
        .email      
            .email-logo 
                img.top(src="../img/top.svg", alt="Круглосуточно")
                img.bottom(src="../img/bottom.svg", alt="Круглосуточно")
                img.right(src="../img/right.svg", alt="Круглосуточно")
                img.left(src="../img/left.svg", alt="Круглосуточно")
            span etalcom@mail.ru 
    .header-burger
        span.burger-span

