.main   
    .information-container
        .first-slider 
            img(src="../img/first-slider.svg" alt="alt")
        .main-information 
            span.name-information Сервис Авто
            span.tow-truck-information Эвакуатор
            img.city-information(src="../img/vologda.svg" alt="Вологда")
            //- span.city-information Вологда
            span.region-russia  Область и Россия
            .free-cars  
                p Свободно <br> эвакуаторов
                span 1
                .payment 
                    p Оплата картой
                    img(src="../img/payment.svg" alt="Оплата картой")
            button.car-call Вызвать эвакуатор
        .main-logo
            img.around-clock-big(src="../img/logo-big.svg" alt="Круглосуточно")
            img.logo-tow-truck(src="../img/tow-truck.png" alt="Эвакуатор")
    .second-slider
        img(src="../img/second-slider.svg" alt="alt")