include ./price-component/price-component.pug

.container-price 
    h2 Цены
    .types-payment
        +price('Наличный расчет', 'Предоставляем весь спектр документов, в том числе и для страховых компаний.')
        +price('Безналичный расчет', 'Заключаем договора с организациями на предоставление услуг.')
        +price('НДС', 'Работаем в том числе с НДС.')
    .price-bottom 
        .container-cars
            +payment('Заказать услугу')
        .prices
            ul.types-prices
                li Эвакуация легковых автомобилей от 1500 руб. 
                li Эвакуация внедорожников и коммерческого <br> транспорта от 2000 руб. 
                li Эвакуация за пределами города от 30 руб/км.




                