include ../component/services-component.pug

.services-container 
    h3 Услуги
    .services 
        +services('../img/1logo.svg','легковое авто','Эвакуация легковых автомобилей до 3,5 тонн любой сложности:','От легкого автомобиля до премиального внедорожника','После сильных ДТП, перевернутые, сильно повреждённые, с нарушением геометрии;', false)
        +services('../img/2logo.svg','коммерческий транспорт','эвакуация коммерческого транспорта до 3,5 тонн любой сложности:','Микроавтобусы, минивэны, фургоны, пассажирские и грузовые Газели и УАЗ','После сильных ДТП, перевернутые, сильно повреждённые, с нарушением геометрии;', false)
        +services('../img/3logo.svg','трактора','Эвакуация и транспортировка спецтехники любой сложности: • эвакуация трактора;','эвакуация трактора;','эвакуация погрузчика;', true , 'эвакуация катка;','эвакуация эскаватора;','эвакуация ножничного подъемника;','эвакуация самоходной вышки;')
        +services('../img/4logo.svg','прочее','прочее','имеется свой легковой автосервис http://sto.svcauto.ru/)','имеется свой магазин автозапчастей http://svcauto.ru/)', false)