.main {
    max-width: 1440px;
    max-height: 620px;
    background-color: white;
    margin: 0 auto;
    padding: 45px 50px;
    display: flex;
    flex-direction: column;
    z-index: 2;

    @media (max-width: 500px) {
        padding: 25px 0px;
    }
}

.first-slider {
    @media (max-width: 500px) {
        display: none;
    }
}

.information-container {
    display: flex;
    align-items: center;

}

.main-information {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: -20px;

    @media (max-width: 1200px) {
        margin: 0 auto;
        align-items: center;
    }



}

.main-logo {
    position: relative;
    margin-left: -50px;


    @media (max-width: 1200px) {
        display: none;
    }
}

.around-clock-big {
    position: absolute;
    top: -25px;
    left: 20px;
    width: 28%;
    height: 35%;
}

.name-information {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 98.4%;
    letter-spacing: 0.015em;
    color: #CB2130;

    @media (max-width: 767px) {
        font-size: 50px;
    }

    @media (max-width: 500px) {
        font-size: 30px;
    }
}

.tow-truck-information {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: right;
    padding-right: 75px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 10px;
    position: relative;

    @media (max-width: 1200px) {
        padding: 0px;
        text-align: center;
    }

    @media (max-width: 767px) {
        padding: 0px;
        font-size: 30px;
    }

    @media (max-width: 500px) {
        font-size: 18px;
    }

    &::after {
        position: absolute;
        top: 33px;
        left: -2px;
        content: "";
        width: 295px;
        height: 2px;
        background-color: #000000;

        @media (max-width: 1200px) {
            display: none;
        }
    }
}

.city-information {

    // font-family: 'Montserrat';
    // font-style: normal;
    // font-weight: 900;
    // font-size: 101px;
    // line-height: 62.4%;
    // letter-spacing: 0.04em;
    // text-transform: uppercase;
    // color: transparent;
    // -webkit-text-stroke: 2px #CB2130;
    // // border: 2px solid #CB2130;
    // margin-bottom: 10px;
    @media (max-width: 767px) {
        width: 65%;
    }

    z-index: 2;
}

.region-russia {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: #000000;
    position: relative;

    @media (max-width: 1200px) {
        text-align: center;
    }

    @media (max-width: 767px) {
        font-size: 30px;
    }

    @media (max-width: 500px) {
        font-size: 18px;
    }

    &::after {
        position: absolute;
        top: 10px;
        left: 340px;
        content: "";
        width: 215px;
        height: 2px;
        background-color: #000000;

        @media (max-width: 1200px) {
            display: none;
        }
    }
}

.free-cars {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;

    @media (max-width: 767px) {
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: -70px;
    }

    @media (max-width: 500px) {
        margin-right: 0px;
    }

}

.car-call {
    max-width: 448px;
    height: 61px;
    background: #53B92B;
    border-radius: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #F7F7F7;



    @media (max-width: 1200px) {
        padding-left: 70px;
        padding-right: 70px;
    }

    @media (max-width: 767px) {
        width: 330px;
        height: 40px;
        font-size: 15px;
        line-height: 0px;
    }

    @media (max-width: 500px) {
        width: 230px;
        height: 30px;
        font-size: 10px;
        padding: 0;
        text-align: center;
    }
}

.free-cars p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    text-align: right;
    color: #53B92B;

    @media (max-width: 767px) {
        text-align: start;
        line-height: normal;
        font-size: 16px;
    }

    @media (max-width: 500px) {
        font-size: 10px;
    }
}

.free-cars span {
    width: 66px;
    height: 60px;
    background: #53B92B;
    border-radius: 0px 10px 0px 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    margin-right: 12px;
    margin-left: 23px;
    color: #F7F7F7;

    @media (max-width: 767px) {
        width: 50px;
        height: 40px;
        font-size: 33px;
        line-height: normal;
    }

    @media (max-width: 500px) {
        width: 30px;
        height: 25px;
        font-size: 18px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

.payment {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    color: #53B92B;

    @media (max-width: 500px) {
        max-width: 80px;
    }


}

.payment img {
    @media (max-width: 767px) {
        width: 65%;
    }
}

.logo-tow-truck {
    margin-top: 25px;
    margin-left: -40px;
    width: 110%;
    height: 110%;
}

.second-slider {
    margin-top: 60px;
    text-align: center;

}