.about-company  
    img(src="./img/aboutCompany.png" alt="Логотип")
    .information-company    
        h3 О компании :
        p Наша компания занимается эвакуаций транспорта в любых ситуациях: попали в ДТП, сломались или же просто нужно перевести автомобиль до точки назначения. Гидравлическая сдвижная платформа и мощная лебедка, позволяет нам погрузить разные виды техники. Индивидуальный подход к каждому из клиентов, быстрая подача эвакуатора, полный комплект документов, принимаем любые виды оплаты. Готовы помочь Вам в любое время суток.
