.container-contacts 
    h1(id="contacts") Контакты
    .map-and-form
        .map 
            img(src="./img/coordinates.svg" alt="Расположение")
            p.city г. Вологда 
            p ул. Говоровский, проезд, д, 4/3 <br><br> +7 (8172) 58-07-08 <br> моб. +79216803048
            .socialnetworks
                a(href="")
                    img(src="./img/instagramm.svg" alt="#")
                a(href="https://vk.com")
                    img(src="./img/vk.svg" alt="Вконтакте")

            //- img(src="./img/magnifying-glass.jpg" alt="Говоровский проезд 4")
        .form-to-fill
            .logo-form 
                img.logo1(src="./img/logo1.svg" alt="logo")
                img.logo2(src="./img/logo2.svg" alt="Service AUTO")
            .person-data
                .date 
                    .avatar_name
                        img(src="./img/name.svg" alt="alt")
                    input.input-date.name-send(type="text" placeholder="Ваше имя?" name="fullname")
                .date 
                    .avatar_number
                        img(src="./img/number.svg" alt="alt")    
                    input.input-date.number-send(type="text" placeholder="Ваш телефон:" name="fullname")

                .date
                    .avatar-email
                        img(src="./img/email.svg" alt="alt")    
                    input.input-date.email-send(type="email" placeholder="Ваш email:" name="email")
                a.call-me-back Перезвонить мне

