include ./payment/payment.pug

.main(id="main")   
    .information-container
        //- .first-slider 
        //-     img(src="../img/first-slider.svg" alt="alt")// Боковой слайдер
        .main-information 
            span.name-information Сервис Авто
            span.tow-truck-information Эвакуатор
            img.city-information(src="./img/vologda.svg" alt="Вологда")
            //- span.city-information Вологда
            span.region-russia  Область и Россия
            .container-cars
                +payment('Вызвать эвакуатор')
        .main-logo
            img.around-clock-big(src="./img/logo-big.svg" alt="Круглосуточно")
            img.logo-tow-truck(src="./img/tow-truck.png" alt="Эвакуатор")
    //- .second-slider
    //-     img(src="./img/left-logo.svg" alt="Слайдер")
    //-     img.slider-center(src="./img/second-slider.svg" alt="Слайдер")
    //-     img(src="./img/right-logo.svg" alt="Слайдер")