include ./services-component/services-component.pug

.services-container 
    h3(id="services") Услуги
    .services 
        +services('./img/1logo.svg','легковое авто','Эвакуация легковых автомобилей до 3,5 тонн любой сложности:','От легкого автомобиля до премиального внедорожника','После сильных ДТП, перевернутые, сильно повреждённые, с нарушением геометрии;', false)
        +services('./img/2logo.svg','коммерческий транспорт','Эвакуация коммерческого транспорта до 3,5 тонн любой сложности:','Микроавтобусы, минивэны, фургоны, пассажирские и грузовые Газели и УАЗ','После сильных ДТП, перевернутые, сильно повреждённые, с нарушением геометрии;', false)
        +services('./img/3logo.svg','трактора','Эвакуация и транспортировка спецтехники любой сложности:','эвакуация трактора;','эвакуация погрузчика;', true , 'эвакуация катка;','эвакуация эскаватора;','эвакуация ножничного подъемника;','эвакуация самоходной вышки;')
        +services('./img/4logo.svg','прочее','Прочее','имеется свой легковой автосервис  <a href="http://sto.svcauto.ru">http://sto.svcauto.ru</a>','имеется свой магазин автозапчастей  <a href="http://svcauto.ru">http://svcauto.ru</a>', false)
    a.order-service(href="tel:+78172580708")
        p Заказать услугу