.container-examples
    h1 Примеры
    .slider-auto 
        img(src="./img/ex1.jpg" alt="1")
        img(src="./img/ex2.jpeg" alt="2")
        img(src="./img/ex3.jpeg" alt="3")
        img(src="./img/ex4.jpeg" alt="4")
        img(src="./img/ex5.jpeg" alt="5")
    .buttons 
        button.left
            img.img-left(src="./img/left-logo.svg" alt="Слайдер")
        button.right 
            img.img-right(src="./img/right-logo.svg" alt="Слайдер")



