@import "../node_modules/normalize.css/normalize.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
@import "./styles/variables.scss";
@import "./styles/components/footer.scss";
@import "./styles/components/header.scss";
@import "./styles/components/main.scss";
@import "./styles/components/aboutCompany.scss";
@import "./styles/components/examples.scss";
@import "./styles/components/price.scss";
@import "./styles/components/contacts.scss";
@import "./styles/components/services.scss";


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;


  button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
  }



  a {
    text-decoration: none;
  }

  ul {
    margin: 0px;
    padding: 0px;
  }

  p {
    margin: 0px;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
 
}

.container {
  position: relative;
  margin: 0 auto;
  // margin-top: 119px;
  max-width: $maxWidth;
  // will-change: transform;
 
}

.transporent-header {
  width: 100%;
  height: 119px;
}