html
  head
    title Service auto
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css")
    script(src="./index.js") 
  body
    .container
      .transporent-header
      include ./components/header.pug
      include ./components/main.pug  
      include ./components/aboutCompany.pug
      include ./components/services.pug
      include ./components/examples/examples.pug
      include ./components/price.pug
      include ./components/contacts.pug
      include ./components/footer.pug

