$bordoGradient:linear-gradient(180deg, #C00D0D 37.9%, #9E0D0D 86.29%);
$darkBordo:#7D1313;
$redGradient:linear-gradient(270deg, #C00D0D 0%, #FC7979 98%);
$yellow:#FFC700;
$greenGradient:linear-gradient(180deg, #18D94B 0%, #159A39 100%);
$blueGradient:linear-gradient(168.69deg, rgba(176, 210, 234, 0.6) 5.42%, #32398E 92.38%);
$turquoiseGradient:linear-gradient(153.7deg, rgba(32, 240, 100, 0.8) -13.07%, rgba(50, 57, 142, 0.8) 83.29%);
$darkBlue:#22137D;
$darkBlue:#75137D;
$bordo:#BF0B0B;
$red: #cb2130;