.free-cars {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    
    @media (max-width: 767px) {
      margin-top: 10px;
      margin-bottom: 20px;
      margin-right: -70px;
    }
  
    @media (max-width: 500px) {
      margin-right: 0px;
      margin-bottom: 10px;
      justify-content: space-around;
    }
  }
  
  .car-call {
    display: flex;
    align-items: center;
    transition:all 0.4s ease;
    max-width: 448px;
    height: 61px;
    background: #53b92b;
    border-radius: 29px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #f7f7f7;
    box-sizing: border-box;
    padding-left: 75px;
    padding-right: 75px;
    box-shadow: 0 0 14px 4px rgb(91, 109, 222);

      p {
          margin: 0 auto;
      }
  
    @media (max-width: 1200px) {
      padding-left: 70px;
      padding-right: 70px;
    }
  
    @media (max-width: 767px) {
      width: 330px;
      height: 40px;
      font-size: 15px;
      line-height: 0px;
    }
  
    @media (max-width: 500px) {
      width: 270px;
      height: 40px;
      font-size: 14px;
      padding: 0;
      text-align: center;
      margin: 0 auto;
    }

    &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    }
    
    &:active {
      transition:all 0.2s ease;
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
      }
  }
  
  .free-cars p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    text-align: right;
    color: #53b92b;
  
    @media (max-width: 767px) {
      text-align: start;
      line-height: normal;
      font-size: 16px;
    }
  
    @media (max-width: 500px) {
      font-size: 10px;
    }
  }
  
  .free-cars span {
    width: 66px;
    height: 60px;
    background: #53b92b;
    border-radius: 0px 10px 0px 15px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    margin-right: 12px;
    margin-left: 23px;
    color: #f7f7f7;
  
    @media (max-width: 767px) {
      width: 50px;
      height: 40px;
      font-size: 33px;
      line-height: normal;
    }
  
    @media (max-width: 500px) {
      width: 30px;
      height: 25px;
      font-size: 18px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  
  .payment {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    color: #53b92b;
  
    @media (max-width: 500px) {
      max-width: 80px;
    }
  }
  
  .payment img {
    @media (max-width: 767px) {
      width: 65%;
    }
  }

  